<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Library</title>
    </head>
    <body>
        <div class="container">
            <h1>The Chubbs Peterson Memorial Private Library</h1>
            <p>WHO DO YOU THINK YOU ARE?!<p>
            <a href="/librarian"><button>Librarian</button></a>
            <a href="/patron"><button>Patron</button></a>
        </div>
    </body>
</html>
